body{
    margin: 0;
    padding: 0;
}

/*BUAT 2 BAGIAN, SIDE BAR + CONTENT*/
.page-wrapper { 
    display: flex;
    min-height: 100vh;
    background-color: #f4f4f4;
}

/*BAGIAN SIDEBAR SELURUH*/
.menu-sidebar {
    position: fixed;
    width: 300px; 
    height: 100vh;
    background-color: #DBB5B5;
    color: #987070;
    line-height: 25px;
    text-align: center;
    border-radius: 0px 20px 0px 0px;
    
}

/*TEKS ADMIN*/
.judul-sidebar h2 {
    text-align: center;
    padding: 30px;
    margin: 0;
    font-size: 30px;
}

/*BAGIAN LIST MENU SIDEBAR*/
.navbar-sidebar {
    padding: 30px;
}

/*BAGIAN LIST NYA AJA*/
.list-navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

/*BAGIAN SATU SATU LIST*/
.list-navbar li {
    margin-bottom: 15px;
    
}

/*BAGIAN SATU SATU LIST DALEMNYA LAGI*/
.list-navbar a {
    text-decoration: none;
    color: #987070;
    display: block;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.list-navbar a:hover {
    background-color: #F1E5D1;
}


/*KONTEN UTAMA */
.page-container {
    margin-left: 300px;
    padding: 20px;
    flex: 1;
}

/*BAGIAN ICON SEARCHING*/
.header-desktop {
    background-color: #DBB5B5;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

/*BAGIAN SEARCH COLUMN + BUTTONNYA*/
.form-header {
    display: flex;
    align-items: center;
}

/*BAGIAN BUAT SEARCHING*/
.search-button {
    width: 300px;
    padding: 8px;
    border-radius: 5px;
    border-right: none;

}

/*BAGIAN BUTTON BUAT SEARCH*/
.search-submit {
    border: none;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px; /* Jarak antara input dan tombol */
}

/*BUAT ICON DI BUTTON */
.search-submit img {
    width: 20px; /* Ukuran gambar ikon */
    height: 20px;
    vertical-align: middle; /* Menyelaraskan gambar secara vertikal */
}  
.search-submit:hover {
    background-color: #987070;
}


/*BAGIAN UTAMA KONTEN*/
.main-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
}

/*BAGIAN FORM INPUTAN USER*/
.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

/*BAGIAN INPUTAN YANG KETIK*/
textarea.form-control {
    resize: vertical;
}

/*MODEL BENTUK TABELNYA*/
.table-content {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/*BAGIAN DALEM TABEL*/
.table-content td, .table-content th {
    padding: 8px;
    border: 1px solid #ddd;
}

/*BUTTON SIMPAN + BATAL*/
.btn-simpan, .btn-batal {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.btn-simpan {
    background-color: #2ecc71;
}

.btn-simpan:hover {
    background-color: #27ae60;
}

.btn-batal {
    background-color: #e74c3c;
}

.btn-batal:hover {
    background-color: #c0392b;
}



/*TABEL DATA BAWAH OUPUT*/
.table-data-main {
    width: 100%;
    border-collapse: collapse;
}

.table-data-main thead th {
    background-color: #DBB5B5;
    color: black;
    padding: 5px;
    text-align: center;
}

.table-data-main tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}   

/*BAGIAN TABEL ISINYA*/
.table-data-main td {
    padding: 8px;
    border: 1px solid #ddd;
}

.table-data-main img {
    max-width: 100px; /* Atur lebar maksimum gambar */
    max-height: 100px; /* Atur tinggi maksimum gambar */
    object-fit: cover; /* Pastikan gambar tidak terdistorsi */
}

/*BAGIAN PAGINATION*/
.pagination {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    display: block;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    color: #987070;
    transition: background-color 0.3s;
}

.page-link:hover {
    background-color: #F1E5D1;
}