body{
    margin: 0;
    padding: 0;
}

/*BUAT 2 BAGIAN, SIDE BAR + CONTENT*/
.page-wrapper { 
    display: flex;
    min-height: 100vh;
    background-color: #f4f4f4;
}

/*BAGIAN SIDEBAR SELURUH*/
.menu-sidebar {
    position: fixed;
    width: 300px; 
    height: 100vh;
    background-color: #DBB5B5;
    color: #987070;
    line-height: 25px;
    text-align: center;
    border-radius: 0px 20px 0px 0px;
    
}

/*TEKS ADMIN*/
.judul-sidebar h2 {
    text-align: center;
    padding: 30px;
    margin: 0;
    font-size: 30px;
}

/*BAGIAN LIST MENU SIDEBAR*/
.navbar-sidebar {
    padding: 30px;
}

/*BAGIAN LIST NYA AJA*/
.list-navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

/*BAGIAN SATU SATU LIST*/
.list-navbar li {
    margin-bottom: 15px;
    
}

/*BAGIAN SATU SATU LIST DALEMNYA LAGI*/
.list-navbar a {
    text-decoration: none;
    color: #987070;
    display: block;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.list-navbar a:hover {
    background-color: #F1E5D1;
}


/*KONTEN UTAMA */
.page-container {
    margin-left: 300px;
    padding: 20px;
    flex: 1;
}


/* Header: Fixed header at the top of the page */
.header-desktop {
    background-color: #DBB5B5;
    color: #987070;
    padding: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.form-header {
    display: flex;
    align-items: center;
}


/* AREA UTAMA (SETELAH TABEL INPUTAN ATAS)*/
.main-content {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Table Styles */
.table-content {
    width: 100%;
    border-collapse: collapse;
  
}

.table-content td, .table-content th {
    padding: 8px;
    border: 1px solid #ddd;
}

/*judul header kanan*/
.table-content th {
    background-color: #DBB5B5;
    color: black;
    text-align: center;
}

.table-main img {
    max-width: 100px; /*lebar maksimum gambar */
    max-height: 100px; /*tinggi maksimum gambar */
    object-fit: cover; /*MASUK SEMUA*/
}

/*BAGIAN PAGINATION*/
.pagination {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    display: block;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    color: #987070;
    transition: background-color 0.3s;
}

.page-link:hover {
    background-color: #F1E5D1;
}

