body{
    margin: 0;
    padding: 0;
}

/*BUAT 2 BAGIAN, SIDE BAR + CONTENT*/
.page-wrapper { 
    display: flex;
    min-height: 100vh;
    background-color: #f4f4f4;
}

/*BAGIAN SIDEBAR SELURUH*/
.menu-sidebar {
    position: fixed;
    width: 300px; 
    height: 100vh;
    background-color: #DBB5B5;
    color: #987070;
    line-height: 25px;
    text-align: center;
    border-radius: 0px 20px 0px 0px;
    
}

/*TEKS ADMIN*/
.judul-sidebar h2 {
    text-align: center;
    padding: 30px;
    margin: 0;
    font-size: 30px;
}

/*BAGIAN LIST MENU SIDEBAR*/
.navbar-sidebar {
    padding: 30px;
}

/*BAGIAN LIST NYA AJA*/
.list-navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

/*BAGIAN SATU SATU LIST*/
.list-navbar li {
    margin-bottom: 15px;
    
}

/*BAGIAN SATU SATU LIST DALEMNYA LAGI*/
.list-navbar a {
    text-decoration: none;
    color: #987070;
    display: block;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.list-navbar a:hover {
    background-color: #F1E5D1;
}


/*KONTEN UTAMA */
.page-container {
    margin-left: 300px;
    padding: 20px;
    flex: 1;
}


/*JUDUL BAGIAN KONTEN KANAN*/
.header-desktop {
    background-color: #DBB5B5;
    color: #987070;
    padding: 10px;
    margin-bottom: 20px;
}

.form-header {
    display: flex;
    align-items: center;
}

/*BAGIAN BUAT SEARCHING*/
.search-button {
    width: 300px;
    padding: 8px;
    border-radius: 50px;
    border-right: none;


}

/*BAGIAN ketikan BUAT SEARCH*/
.input-section {
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin: 5px;
}
/*BUAT ICON DI BUTTON */
.btn-search{
    border: none;
    border-radius: 5px;
    padding: 7px;
}

.btn-search img {
    width: 20px; /* Ukuran gambar ikon */
    height: 20px;
    vertical-align: middle; /* Menyelaraskan gambar secara vertikal */
    
}  
.btn-search:hover {
    background-color: #987070;
}


/*BAGIAN TABEL UTAMA*/
.main-content {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* BAGIAN TABEL KONTEN BAWAH */
.table-content {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 10PX;
}

.table-content td, .table-content th {
    padding: 8px;
    border: 1px solid #ddd;
}

.table-content th {
    background-color: #DBB5B5;
    color: black;
    text-align: center;
}

.btn-hapus {
    background-color: #e74c3c;
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-hapus:hover {
    background-color: #c0392b;
}

/*UKURAN FOTO BIAR RAPIH*/
.table-content img {
    max-width: 100px; /* Atur lebar maksimum gambar */
    max-height: 100px; /* Atur tinggi maksimum gambar */
    object-fit: cover; /* Pastikan gambar tidak terdistorsi */
}